@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;700&display=swap');


:root {

    --primary:#007bff;
    --lightprimary:#0056b3;
    --white: #ffffff;
    --silver:#bcbcbc9e;
    --defaultLinkColor:#333;
    --yellow:#FFD700;
    --mutted:#777777;
    --whiteBG:#F8FAFC;
    --black : #333;
}

*{ 
    font-family: 'poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    
    

}
body{
    overflow-x: hidden;
}

.menu{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 80px;
    
    list-style: none;

   
}

#navbar{

    display: flex;
    flex-direction: column;
}
.navigation {
    display: flex;
    background-color: var(--white);
    justify-content: space-between;
    /* max-width: 1200px; */
    width: 100%;
    margin: 0 auto;
    z-index: 1000;
    padding: 10px 0px;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.1);
    align-items: center;
    position: fixed; 
    top: 0;
    left: 0; 
    right: 0; 
}

.menu li a{
    color: var(--mutted);
    margin: 0px 20px;
}

.menu li a:hover{
    background: transparent;
    color: var(--primary);
    cursor: pointer;
}
.menu li a:active{
    color: var(--lightprimary);
}


.nav-appointement-btn{

    
    background-color: var(--lightprimary);
    border-radius: 10px;
    padding: 10px 15px;
    color: var(--whiteBG);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    letter-spacing:1px ;
    font-size: 12px;
    height: 45px;
    margin-right: 40px;

}

.picture{
   
    width:10%;
    height: 50%;
    margin-left: 40px;
}


/* -----home--------*/

#home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(
    100vh - 50px
  );
    margin-left: 10%;
    
}

span{
    color: var(--yellow);
}

#home .left-content h1{

  color:black;
  font-size: 40px;
  margin-right: 80px;

}

#home .left-content p{
    color: var(--mutted);
    font-size:12px;
   margin-bottom: 20px;
   margin-top: 15px;
}
 #home .left-content{
    /* background-color: #0056b3; */
    width: 60%;
    height: 40%;
    margin-bottom: auto;
    margin-top: 70px;
    margin-left: 80px;
} 
#home .right-content img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    margin-bottom: 170px;
    margin-right: 200px;
}


#home .left-content .btn-content {
    display: flex;
    justify-content: space-evenly;
   align-items: center;
  
}
.btn-content .get{

    background-color: var(--lightprimary);
    color: var(--white);
    margin-right:auto ;
    width: 160px;
    height: 40px;
    border-radius: 10px;
    
  
    padding: 10px 10px;
}

.btn-content .learn{
    background-color: var(--white);
    color: var(--black);
    width: 160px;
    height: 40px;
    border-radius: 10px;
    margin-left: 7%;
    margin-right:270px;
    border-radius: 10px;
    border: 1px solid;
  
}


#home .left-content button:hover a {
    background-color: var(--silver);   
}


/*-----------services-------------*/

.services-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: -12%;
    padding:5px 50px;
    border: 1px solid var(--white);
    background-color: var(--primary);
    
}

.left-service {
    color: var(--white);
   margin-left: 120px;
}

.left-service h1 {
    font-size: 24px;
    
}


.right-service {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-evenly; */
    margin-left:120px ;
    
}


.serv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 80px;
    padding:10px 5px;
    border: 1px solid var(--white); 
    border-radius: 15%;
    background-color: var(--white);
}

.serv img {
    width: 40px;
    height: 30px;
    margin-bottom: 10px;
}

.serv p {
    font-size: 10px;
    text-align: center;
}


.more-services {
   
    width: 100%;  
    margin-top: 0;
    padding: 0;
}
  
.service-list{
    
    margin: auto;
    margin-left: -100px;
}
.img-service { 
    
    margin-top: 40px;
    margin-left:80px ; 
 } 
 

.services-provide {
    display: flex;
    justify-content: space-evenly;
}

.service-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
   
    
}

.service-item img {
    width: 6%;
    height: 4%;
    margin-right: 15px;
}

.service-item p {
    width: 85%;
    
}

.title h1 {
   
    text-align: center;
    color: var(--mutted); 
    font-size: 20px; 
    margin-left: 60%;
    margin-top: 60px;
    width: 200%;
}


 /* Title with Separtor */

.title-specs{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
 .title-spec{
  
    width: 90%;
    margin: 0;
    padding: 0;
}

.title-spec hr{
   
    border : 2px solid var(--silver); 
    height : 1px; 
      
}

/* .title-spec .right_spec{

    display: flex;
    margin-left: 140px;
    justify-content: space-between;
    margin-right: 110px;
    margin-bottom: -10px;
    margin-top: 70px;
    font-size: 20px;
  
} */ 

.title-spec .right_spec span{
    font-size: 25px;
    
}

.title-spec .right_spec h2 {
  
    display: flex;
    font-size: 25px;
  
}

.title-spec .left-spec{
    display: flex;
    justify-content: space-between;
    /* margin-bottom:60px; */
}

.left-spec .special{
    display: flex;
    justify-content: end;
    /* align-items: center; */
    flex-direction: column;
    width: 85%;
    height: 40px;
    margin-bottom: 50px;
    margin-top: -8px;
}

.left-spec .special h2{
    display: flex;
    justify-content: end;
}


.left-spec h3{
    font-size: 25px;
    margin-top: 10px;
}  


/* main service */
 

  .main-service {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    width: 60%;
    height: 30%;
    margin: auto;
    margin-top: 40px;
    
  }
  
  .main-inner-services {
    
    padding:0px 30px;
    border: 1px solid var(--whiteBG);
    background-color: var(--whiteBG);
    border-radius: 10px;
    box-shadow: 0 0 2px var(--mutted);
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.main-serv-img img {
    width: 40%; 
    max-width: 80%;
    margin-top:25px;
    margin-left: 40px;
  }
  
 .main-service .main-serv-content{

    text-align: center;
    font-size: 10px;
    background-color: var(--whiteBG);
   
 }
 .main-serv-content h2{
    font-size: 15px;
    padding: 10px 0px;
    font-weight: 500;
 }
 .main-serv-content p{

    font-size: 12px;
    padding: 5px 0px;
        
 }


 /*  info make appointtement */
 .info_app_content {
    background-color: var(--primary);
    color: #fff;
    padding: 15px;
    text-align: center;
    max-width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
 }
 
.info_app_content h2 {
    margin-bottom: 15px;
    font-weight: 400;
}

.info_app_content span{
    font-size: 40px;
    color: var(--whiteBG);
}


.info_app_content .p {
    width: 50%;
    font-size: 10px;
    margin-bottom: 20px;
}

.button_make_app {

    background-color: var(--primary);
    color: var(--white);
    font-weight: 200;
    padding: 10px 10px;
    border: 1px double white;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    
}

.button:hover {
    background-color: var(--yellow);
}

/* Title sperator with history */


.title-history{
 
    width: 90%;
    margin: 0;
    padding: 0;
}

#history hr{
   
    border: 2px solid var(--silver);
    width: 80%;
    margin-left: 10%;
    margin-top: 10px; 
    height: 1px;   
 
}

.title-history .right_history{

    display: flex;
    margin-left: 220px;
    justify-content: space-between;
    margin-right: 20px;
    margin-top: 80px;

}

.title-history .right_history .sp{

    font-size: 25px;
    
}

.title-history .right_history h2 {
   
    font-weight:450;
    font-size: 25px;
    margin-left: -90px;
    
}


.title-history .left-history{
    display: flex;
    margin-bottom:30px ;
}

.title-history .left-history h3{
    margin-top: -10px;
    font-size: 30px;
    margin-left:40px;
  
}

/*content history */

.content-history{
    display: flex; 
    justify-content: space-evenly;
    margin-right:auto ;
}
.content-history img{
    margin-left: 50px; 
    width: 300px;
}


.content-history .cont-hist{
 
    border: 1px solid var(--whiteBG);
    padding: 40px;
    padding-top: 30px;
    background-color: var(--whiteBG);
    width: 500px;
    border-radius: 15px;
    height: 200px;
    right: 80px;
   
}

.content-history .cont-hist h4{
    padding: 3%;
    font-weight: 500;
}

.content-history .cont-hist{
    color: var(--mutted);
    font-size: 15px;
}
.cont-hist p{
    font-size: 11px;
}

/* doctors */

.doct {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: auto;
}

.doct img{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    margin-left: 75px;
  
}
.doct p {

    font-size: 13px;
    color: var(--silver);
    line-height: 1.2;
    margin-left: 65px;
}
.doct button{
    color: var(--primary);
    height: 35px;
    width: 135px;
    border: 1px solid var(--primary);
    background-color: var(--whiteBG);
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 65px;
    text-align: center;
}

.doct h5{
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 65px;
}

.doct button:hover{
    background-color: var(--mutted);
    color: white;
}


/* customer */

.customer-about{

    display: flex;
    background-color: var(--lightprimary);
    margin: auto;
    height: 400px;
    padding-top: 70px;
    padding-left: 140px;
    padding-right: 190px;
    margin-top: 50px;

}

.customer-content .paragraph-customer{

    line-height: 180%;
    font-size: 13px;
    color: var(--white);
    margin-left: 60px;
}


.customer-content h3{

    margin-bottom: 10px;
    margin-top: 50px;
    margin-left:60px;
    padding-bottom: 30px;
    color: var(--whiteBG);
 
    font-weight: 400;
}

.customer-content span{

    margin-bottom :300px;
    margin-left:300px;
    font-size: 40px;
    font-weight: 600;
    color: var(--silver);

}

.customer-about .image {

    background-color: var(--whiteBG);
    height: 310px;
    border: 1px solid var(--black);
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 25px;
   

}
.customer-about h5{
    
    color: var(--black);
    font-size: 13px;
    margin-top: 10px;
    margin-left:60px;
    
}

/* formulaire de contact*/

.consult-content {
    margin-top: 0;
    display: flex;
    margin-left: 120px;
    margin-bottom: 40px;
    
}

.form-container {
    
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 90px;
    
}

.form-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;    
}

.form-group {
    display: flex;
    flex-direction: column;
    
}

.form-group .tel-prefix {
    position: absolute;
    width: 45px;
    border-right: none;
    margin-top: 18px;
}

.form-group #phone::placeholder {
    padding-left: 50px;
}

.form-group #phone {
    width: 200px;
    margin-bottom: 40px;
}

.form-group input,
.form-group select {
    width: 200px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid var(--silver);
    margin-bottom: 10px;
    
}

.form-group label {
    font-size: 13px;
}

.form-group textarea {
    width: 450px;
    border-radius: 8px;
    border: 1px solid var(--silver);
    margin-top: 10px;
}

.policy {
    display: inline;
    margin-bottom: 15px;
}

#policy {
    width: 15px;
    margin-top: 25px;
    
}

.policy label {
    font-size: 12px;
    margin-bottom: 35px;
    position: relative;
    bottom: 12px;
}

.btn-submit {
    height: 35px;
    border-radius: 9px;
    border: 1px solid var(--silver);
    color: var(--white);
    background-color: var(--primary);
}

.btn-submit:hover {
    background-color: var(--lightprimary);
}

/* Subscribe */


#subscribe{
    margin: 0;
    text-align: center;
    background-color: var(--whiteBG);
    padding: 50px;
}

.subs{
    width: 85% ;
    padding-top:30px ;
    padding-bottom: 30px;
    background-color: rgb(39, 93, 134);
    align-items: center;
    margin-left: 10%;
    /* margin-right: 20%; */
    height: 180px;
    margin-top: 0px;
    border-radius: 15px;
    border: 1px solid var(--white);
    color: var(--white);
    
}
.subs h2{
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
}

.subs form input{
    width: 150px;
    height: 35px;
    border: 1px solid rgb(14, 68, 99);
    border-radius: 6px;
    margin: 5px;
    background-color: var(--silver);
}
.subs form input::placeholder{
    font-size: 10px;
    color: white;
    padding: 10px;
}
.subs form button{
    width: 150px;
    height: 35px;
    border-radius: 6px;
    border: 1px solid var(--silver);
    margin-top: 20px;

}
.subs form button:hover{
    background-color: var(--mutted);
}

/* Footer */  

#footer {
    color: var(--silver);
    margin: 0;
    background-color: var(--primary);
  }
  
  .news {
    display: flex;
    justify-content: center;
    
  }
  
  .news-item-1,
  .news-item-2,
  .news-item-3 {
    position: relative; 
    padding: 20px;
  }
  
  .news-item-1::after,
  .news-item-2::after {
    content: "";
    position: absolute;
    top: 20%;
    right: 0;
    height: 65%; 
    width: 1px;
    background-color: var(--whiteBG);
  }
  
  .news-item-3 {
    position: relative;
    padding: 10px;
  }
  
  .news-item-3::after {
    content: "";
    position: absolute;
    bottom: 40px; 
    left: 90%;
    width: 1px;
    height: 65%;
    background-color: var(--whiteBG); 
  }
  
  .news-item-3 {
    border-right: none;
  }
  
  .news-item-1 {
    padding-top: 40px;
    padding-left: 50px;
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  
  .news .news-item-1 img {
  
    margin-bottom: 20px;
    width: 130px;
    filter: brightness(10);
  
}
  
.news .news-item-1 p {
    
    font-size: 10px;
    margin-right: 35px;
    color: var(--silver);
    line-height: 2;
    color: var(--white);
  
}
  
  .news .news-item-2 {
 
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
}
  
  .news .news-item-2 p {
    font-size: 10px;
    font-weight: 300;
    line-height: 1.5;
    color: var(--silver);
    margin-top: 30px;
    margin-bottom: 20px;
    color: var(--white);
  }
  
  .news .news-item-2 h2 {
    font-size: 20px;
    font-weight: 200;
    color: var(--white);
  }
  
  .news .news-item-3 {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .news .news-item-3 p {
    font-size: 10px;
    margin-top: 30px;
    margin-bottom: 25px;
    color: var(--whiteBG);
  }
  
  .news .news-item-3 .link {
    height: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  
  .news .news-item-3 .link a {
    color: var(--silver);
    font-size: 10px;
    width: 100px;
    row-gap: 5px;
    color: var(--white);
  
}
  
.news .more-news {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 50px;


}
  
  .news .more-news p {
    font-size: 10px;
    line-height: 1.3;
    margin-top: 30px;
    color: var(--white);
  }
  
  .news .more-news h6 {
    font-size: 8px;
    margin-top: 50px;
    color: var(--white);
  }
  
  .foot {
    background-color: rgb(14, 68, 99);
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    height: 40px;
    color: white;
    font-size: 12px;
  }
  